{% extends "templates/layout.jinja2" %}
{% block content %}

    <a class="btn btn-primary pull-right"
       href="{{ request.route_url('wikipage_add') }}">Add
        WikiPage</a>
    <h1>Wiki: View</h1>

    <ul>
        {% for page in pages %}
            <li>
                <a href="{{ request.route_url('wikipage_view', uid=page.uid) }}">
                    {{ page.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}