{% extends "templates/layout.jinja2" %}
{% block content %}

    <a href="{{ request.route_url('wiki_view') }}">
        Up
    </a> |
    <a href="{{ request.route_url('wikipage_edit', uid=context.uid) }}">
        Edit
    </a>

    <h1>{{ context.title }}</h1>

    <p>{{ context.body | safe }}</p>

{% endblock content %}